.card {
    background-color: #fff;
    border-radius: 6px;
    width: 90%;
    margin: auto;
    padding: 1rem;
    overflow-wrap: break-word;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


@media(min-width: 768px) {
    .card {
        width: 70%;
        margin: auto;
        padding: 1rem 2rem;
    }
}
  